*{
    padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
nav{
    height:110px;
    width: 100%;
    background: #34495e;
}
label.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 2 100px;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active,a:hover{
    border:1px solid white;
    transition: 0.4s;
}


.images{
    padding: 20px 0;
    margin: 20px 0;
    position:relative;
}
  .col-2{
   
    text-align: center;
  }
  .col-2 img {
    opacity: 0.8; 
    cursor: pointer;
    padding: 20px;
    width: 150px;
    height: 150px; 
  }
  
  .col-2 img:hover {
    opacity: 1;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .container {
    position: relative;
    display: none;
    width: 400px;
  }
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

nav{
   display: flex;
   padding: 2% 6%;
   justify-content: space-between;
   align-items: center;
}
.color{
    color: aquamarine;
}
nav img{

width: 150px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(82, 73, 73);
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box h1{
    font-size: 62px;
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box h2{
    font-size: 62px;
}
.button-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border:1px solid#fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.button-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
  
.text-box {
    font-family: 'Dancing Script',cursive;

  }
}
.course{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: rgb(38, 13, 148);
}
.title{
    font-size: 50px;
    color:black
}
.title::before{
    content: '';
    background: #ff523b;
    width:80px;
    height:5px;
    border-radius: 5px;
    position: absolute;
}
.projekt{
    text-align: left;
    color:#808080;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .row .col-md-3{
      padding: 4rem ;
  }
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
    .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
    .active, .dot:hover {
    background-color: #717171;
  }
    q {font-style: italic;}
  
  .author {
      color: cornflowerblue;
    }
  .tema{
      text-align:center;
      color:#34495e;
      padding: 30px;
      margin: 10px;   
  }

  .footer{
    background:#282727;
    padding:0rem;
    margin:0rem;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 2rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 1.3rem;
    color:#fff;
    padding:1rem 0;
    font-weight: normal;
}

.footer .box-container .box p{
    font-size: 1.2rem;
    color:#eee;
    padding:1rem 0;
}

.footer .box-container .box a{
    font-size: 1.2rem;
    color:#eee;
    padding:1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color:var(--yellow);
}

.footer .box-container .box p i{
    padding-right: 0.5rem;
    color:var(--yellow);
}

.footer .credit{
    font-size: 1.7rem;
    text-align: center;
    border-top: 0.2rem solid rgba(255,255,255,.7);
    padding:2rem 1rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:#fff;
}

.footer .credit a{
    color:var(--yellow);
}

/* media queries  */
:root{
  --yellow:#F7CA3E;
}
